
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
    color: rgb(0, 84, 163);
    text-decoration: none;
    
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to right,rgb(233, 226, 226), rgb(255, 255, 255));
    height: 8vh;
}

main{
    background: url(../images/capa.jpg) no-repeat center center;
    background-size: cover;
    height: 92vh;
    
}

#logo{
    width: 36%;
    margin-top: 100px;
    margin-left: 420px;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
    transition: 0.3s;
}
/* Sobre e sobre pousada */

.conteudo{
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}

.conteudo > h3{
    color: rgba(46, 133, 29, 0.712);
    text-align: left;
}

.conteudo > p{
    font-size: 1.3rem;
}

.caixa1, .caixa2, .caixa4{
    position: relative;
    height: 100%;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.caixa1 {
    background-image: url(../images/foto_sobre.jpg);
}

.caixa2 {
    background-image: url(../images/churrasqueira.jpg);
}

.caixa4{
    background-image: url(../images/capa-acomodacao.jpg);
    opacity: 0.9;
    z-index: -1;
}

.espaco{
    height: 60vh;
}

/* Fim Parallax */


.map-sm{
    display: none;
}
/* Sobre */

.capa-sobre {
    background-image: url(../images/capa-sobree.jpg);
    position: relative;
    height: 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}



/* Inicio contato */

#area-contato{
    display: flex;
    margin: 40px;
    text-align: center;
}

.capa-contato{
    background-image: url(../images/capa-contato.jpg);
    position: relative;
    height: 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

.conteudo-titulo {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center; 
    
}

.conteudo-titulo span.titulo {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.76);
    padding: 18px;
    font-size: 40px;
    letter-spacing: 3px;
    font-family: 'Kaushan Script', cursive;
}

#formulario-contato{
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
    
}

#formulario-contato > h3{
    color: rgba(46, 133, 29, 0.712);
    text-align: left;
}

#formulario-contato > p{
    font-size: 1.2rem;
}

.area-localizacao {
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
    width: 40vw;
}

.area-localizacao > p{
    font-size: 1.2rem;
}

.area-localizacao > h3{
    color: rgba(46, 133, 29, 0.712);
    text-align: left;
}




/* Fim contato */

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: rgb(236, 241, 238);
        opacity: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        
        margin-left: 0;
    }
    .mobile-menu {
        display: block;
    }

    .logo{
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .nav-list.active {
        transform: translateX(0);
    }
    
    @keyframes navLinkFade {
        from {
          opacity: 0;
          transform: translateX(50px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
    .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
    opacity: 0;
    }
    
    .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    }

    #logo{
        width: 70%;
        margin: 200px 200px 200px 50px;
    }
    #mensagem{
        display: none;
    }
    #mensagem > nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 8vh;
    }
    #logo-footer{
        width: 30%;
    }

    footer > p {
        font-size: 0.8rem;
    }

    .conteudo{
        margin-left: -45px;
        margin-right: -45px;
    }
    .conteudo > p{
        font-size: 1rem;
    }

    #reserva, #host{
        width: 35%;
    }

    /* Contato */

    #area-contato{
        display: block;
        margin: 20px 0;
        
    }

    #mensagem{
        display: block;
    }


    #formulario-contato{ 
        width: 100vw;
        padding: 20px 40px;
    }

    #formulario-contato > p{
        font-size: 1rem;
        text-align: left;
    }

    .area-localizacao {
        color: #777;
        background-color: white;
        text-align: center;
        padding: 20px 40px;
        width: 100vw;
        
    }
    
    .area-localizacao > p{
        font-size: 0.9rem;
        text-align: left;
    }

    .map-mg{
        display: none;
    }
    
    .map-sm{
        display: block;
        width: 90vw;
        text-align: center;
        margin: -15px;
    }
    
}


    /* Link do whatts */
    .whattsapp-link{
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: rgb(37, 211, 102);
        color: #fff;
        border-radius:50px;
        text-align: center;
        font-size:30px;
        box-shadow: 1px 1px 2px #888;
        z-index: 1000;
    }

    .fa-whatsapp {
        margin-top: 16px
    }



  


